.hero,
.header {
    padding: 10px 50px 150px 200px;
    background-color: #1F2937;
    display: flex;
}
.header{
    justify-content: space-between;
}
.hero {
    justify-content: space-between;
}
.HHH{
    flex-direction: column;
    color: white;
    align-items: flex-start;
}
#placeholder {
    align-self: flex-end;
    /* position: relative;
    bottom: 175px;
    right: 200px; */
    background-color: gray;
    color: lightgray;
    height: 200px;
    width: 400px;
}
.hero-text{

    font-size: 48px;
    font-weight: bold;
    width: auto;
}
.hero-sec-text {
    padding-left: 22px;
    width: 300px;
}
.signup {
    font-weight: bold;
    font-size: 12px;
    background-color: aqua;
    color: black;
    height: 0.75cm;
    width: 4cm;
    position: relative;
    left: 15px;
    border-radius: 15px;
    border: none;
    transition-duration: 0.4s;
}
.signup:hover {
    background-color: white;
    color: aqua;
}
#place-text {
    text-align: center;
    position: relative;
    top: 69px;
}
#logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}
#logo-sec-text {
    padding-right: 12px;
    color: #E5E7EB;
    font-weight: 500;
    font-size: 18px; 
}
.body {
    background-color: #eeecfc;
}
.body-section {
    padding: 5px 250px 55px 250px;
    display: flex;
    justify-content: space-between;
}
.box {
    height: 150px;
    width: 150px;
    border: 5px solid;
    border-color: #3829d6;
    border-radius: 30px;
}
.body-text,
.body-section p {
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
div .body-section p {
    text-align: center;
    width: 150px;
    font-weight: 700;
    margin: -10px;
}
.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 75px 300px 75px 300px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.footer {
    height: 45px;
    background-color: #1F2937;
    color: lightgray;
    text-align: center;
    padding: 10px 0;
}